.card{
    border: 0px solid black !important;
    display: flex;
    flex-direction: column;
    padding: 10px !important;
}
.card-icon{
    width: 70px;
    height: 70px;
}
.card-image{
    width: 200px !important;
    border-radius: 100% !important;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px rgb(162, 162, 162);
}
.card2{
    height: 200px;
}
.card-name{
    margin-bottom: 10px;
}